// OSCAR HEADER
// ------------

.header {
  position: relative;
  z-index: 2;

  @include media-breakpoint-up(md) {
    .page_inner {
      padding: 50px 0 40px;
    }
  }

  h1 {
    line-height: inherit;
    margin: 0;
  }

  .navbar-static-top {
    margin-bottom: 0; // remove 18px margin for default navbar
  }
}

.navbar {
  .navbar-toggler {
    outline: none;
  }
}

// The navbar at the topmost of every page
.navbar-top-page {
  background: $platinum;
  border: 3px solid $melon;
}

#search-icon, #shopping-cart-icon {
  color: $search-shopping-cart-icon-color;
  @include hover-focus() {
    color: darken($search-shopping-cart-icon-color, 5%);
  }
}

// Basket Mini Dropdown
.basket-mini {
  .btn-group {
    margin-left: 10px;
  }

  .badge {
    position: relative;
    bottom: -10px;
    left: -10px;
    background-color: $primary;
    font-family: $font-family-dosis;
  }

  .dropdown-menu {
    background: $platinum;
    border: 2px solid $vivid-tangerine;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.25);
    min-width: 300px;
    width: auto;
    padding-bottom: 0;
    max-width: none;
    z-index: 9999;

    li {
      display: block;
    }
  }
}

// Basket Mini Item
.basket-mini-item {
  font-family: $font-family-arima-madurai;
  color: $primary;
  margin-bottom: 0;

  li {
    border-top: 1px solid $cambridge-blue;
    padding: 10px 15px;

    &:first-child {
      border-top: none;
    }
  }

  .image_container {
    $image-container-height: 50px;
    min-height: $image-container-height;
    padding: 0;

    img {
      max-height: $image-container-height;
    }

    a {
      padding: 0;
    }
  }

  .product-title {
    a {
      font-weight: inherit;
      white-space: normal; 
      font-family: $font-family-amatic-sc;
      color: $tan-crayola;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: bold;
      line-height: 0.7;
    }

    margin-bottom: null;
  }
  

  .form-actions {
    background-color: $beta; // $alabaster
    border-radius: 0 0 6px 6px;
    margin: 0;
    overflow: hidden;

    h4 {
      margin-bottom: $base-margin-bottom;
    }

    p {
      font-size: $font-size-base * 1.15;
      color: $xanadu;
    }
  }
}
