// OSCAR PAGE STRUCTURE
// --------------------

body {
  background-color: $unbleached-silk;
}

// The page container
.page .page_inner {
  background: $misty-rose;
  border: 3px solid $melon;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 22px 86px rgba(0, 0, 0, 0.12);
}

// Some padding for the inner container
// Also useful for mobile
.page_inner {
  font-family: $font-family-handlee;
  font-size: $font-size-base * 1.05;
  padding: $grid-gutter-width;
  @include clearfix();
}

// layout for the catalogue browse
.page_inner.browse {
  max-width: map-get($map: $grid-breakpoints, $key: lg); // 992px
}

@include media-breakpoint-down(sm) {
  .page_inner.browse {
    padding-left: 0;
    padding-right: 0;
  }
}
